<div id="search">
<h1>Please search for contacts</h1>
<form id="search_form">
  <input class="search_string" type="input"/> 
  <input class="submit" type="submit" value="Search"/>
  </form>
</div>

<div id="results">
  <h2>Result(s)</h2>
  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody class="output">
  
    </tbody>
  </table>
  
</div>

<div id="none_found">
  <p>No results found</p>
</div>

<div id="validation">
  <p>Please type something to search</p>
</div>

<div id="error">
  <p>There was an error loading the contacts</p>
</div>